.wishlist-item {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  width: 289px;
  position: relative;
  padding: 30px 20px;
  flex-shrink: 0;
  text-transform: uppercase;
  word-wrap: break-word;
}

.wishlist-item__title {
  font-weight: bold;
  word-wrap: break-word;
}

.wishlist-item__url {
  font-size: 12px;
  font-weight: bold;
  color: #888;
  & > a {
    text-transform: unset;
    color: black;
    font-weight: normal;
    text-underline-offset: 0.2em;
    text-transform: lowercase;
  }
}

.wishlist-item__delete {
  position: absolute;
  top: 4px;
  right: 8px;
  padding: 5px !important;
}

.wishlist-item__datePost {
  position: absolute;
  right: 6px;
  bottom: 6px;
  font-size: 11px;
  color: hsl(var(--accent));
}
