.wishlist {
  display: grid;
  grid-template-columns: auto;
  margin: 0 auto;
  gap: 10px;
  width: 100%;
  justify-content: center;

  @media screen and (min-width: 540px) {
    grid-template-columns: auto auto;
  }

  @media screen and (min-width: 1200px) {
    gap: 40px;
    justify-content: flex-start;
  }
}

p {
  font-size: 20px;
}

.content {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  width: 100%;

  @media screen and (min-width: 800px) {}

  @media screen and (min-width: 1200px) {
    flex-direction: row;

    align-items: start;
  }
}


.dashboard {
  @media screen and (min-width: 1200px) {
    max-width: 1200px;
    margin: 0 auto;
  }

}

h1 {
  color: #cccbcb;
  margin: 20px 40px;
  font-size: 3em;
}

.container {
  margin: 0 80px
}

// .hide {
//   display: none;


// }

// @media screen and (min-width: 540x) {
//   .hide {
//     display: flex;
//     flex-direction: row;
//     max-width: 1200px;
//     margin: 0 auto;


//   }

// }

// .show {
//   display: flex;

//   width: 100%;

//   @media screen and (min-width: 540x) {
//     flex-direction: row;
//     max-width: 1200px;
//     margin: 0 auto;
//   }
// }