.formContainer {
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
}

.btn {
  width: 100%;
  border-radius: 5px;
  text-transform: uppercase;
  padding: 10px 0;
  background-color: hsl(var(--accent));
  border: none;
  color: white;
  margin-top: 10px;
  letter-spacing: 1px;
  &:hover {
    background-color: var(--_offWhite);
    color: hsl(var(--accent));
  }
}

input {
  border-radius: 5px;
}

.control {
  padding: 10px 0 10px 10px;
  margin-bottom: 6px;
  border: 1px solid hsl(var(--accent));
  outline: none;
  &:focus-visible {
    border: 1px solid red;
  }
}
