.form {
  width: 100%;
  background-color: #c8e3f6;
  padding: 20px;
  box-sizing: border-box;
  min-width: 300px;
  position: absolute;
}

@media screen and (min-width: 540px) {
  .form {
    width: 60%;
    max-width: 672px;
    position: relative;
  }
}

.form input {
  margin-bottom: 10px;
}
