:root {
  --_hue: 245;
  --_size: 1.8rem;
  --_tspeed_fast: 180ms;
  --_tspeed_slow: 300ms;
  --_ttype_squish: cubic-bezier(0.86, -0.1, 0.27, 1.15);
  --_offWhite: #cccbcb;
  --_darkGray: #4d4c4c;

  /* Light Mode */
  --bg--light: var(--_hue) 30% 94%;
  --txt--light: var(--_hue) 40% 5%;
  --accent--light: var(--_hue) 55% 50%;
  --accent1--light: 10 80% 60%;
  --muted--light: var(--_hue) 30% 99%;
  /* Dark Mode */
  --bg--dark: var(--_hue) 15% 10%;
  --txt--dark: var(--_hue) 30% 88%;
  --accent--dark: var(--_hue) 50% 50%;
  --accent1--dark: 10 55% 50%;
  --muted--dark: var(--_hue) 20% 4%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: var(--bg--dark);
    --txt: var(--txt--dark);
    --accent: var(--accent--dark);
    --accent1: var(--accent1--dark);
    --muted: var(--muted--dark);
    color-scheme: dark;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --bg: var(--bg--light);
    --txt: var(--txt--light);
    --accent: var(--accent--light);
    --accent1: var(--accent1--light);
    --muted: var(--muted--light);
    color-scheme: light;
  }
}

:root[color-scheme="dark"] {
  --bg: var(--bg--dark);
  --txt: var(--txt--dark);
  --accent: var(--accent--dark);
  --accent1: var(--accent1--dark);
  --muted: var(--muted--dark);
  color-scheme: dark;
}

:root[color-scheme="light"] {
  --bg: var(--bg--light);
  --txt: var(--txt--light);
  --accent: var(--accent--light);
  --accent1: var(--accent1--light);
  --muted: var(--muted--light);
  color-scheme: light;
}

body {
  background-color: hsl(var(--bg));
  color: hsl(var(--txt));
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
  box-sizing: border-box;
  margin: 0;
}

hr {
  background-color: hsl(var(--accent) / 0.5);
  border-radius: var(--_radius);
}

/* Pages */
.page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 540px;
  margin: auto;
}

.page-container h1 {
  color: #cccbcb;
  margin: 20px 40px;
  font-size: 3em;
}

/* Forms */
.form_container {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  min-width: 300px;
  margin-bottom: 10px;
}

.form_container form {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .form_container {
    width: 60%;
    max-width: 672px;
    position: relative;
  }
}

.form_container input {
  border-radius: 5px;
  padding: 15px 0 15px 10px;
  margin-bottom: 6px;
  border: 0;
  outline: none;
  border: 1px solid hsl(var(--accent));
  &:focus-visible {
    border: 1px solid var(--_darkGray);
  }
}

/* Buttons */
.btn {
  gap: 0.5em;
  border-radius: 5px;
  text-transform: uppercase;
  padding: 10px 12px;
  background-color: hsl(var(--accent));
  border: none;
  color: white;
  font-weight: bold;
  letter-spacing: 1px;
  margin-top: 10px;
  letter-spacing: 1px;
  text-decoration: none;
  box-shadow: 0.05em 0.1em 0.9em hsl(var(--accent) / 0.3),
    0 0 0 -0.1em hsl(var(--bg)), 0 0 0 -0.2em hsl(var(--accent));
  transition: box-shadow var(--_tspeed_fast) var(--_ttype_squish),
    background-color var(--_tspeed_fast) var(--_ttype_squish);
  &:hover {
    background-color: white;
    color: hsl(var(--accent));
  }
}

.tooltip {
  display: inline-block !important;
  position: relative !important;
  opacity: 1 !important;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  font-size: 10px;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
