.logo {
    text-align: center;
}

img {
    width: 100%;
    max-width: 500px;
    margin-top: 20px;
}

.navigation {
    position: absolute;
    top: 0;
    right: 20px;
    display: flex;
    gap: 20px;
}

li {
    list-style: none;
}

.header {
    display: inline-block;
    font-size: 80px;
    line-height: 0.9;
    padding: 20px;
    font-family: 'Caveat', cursive;
    background: hsl(var(--accent));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}