.logo {
    text-align: center;
}

img {
    width: 100%;
    max-width: 500px;
    margin-top: 20px;
}




li {
    list-style: none;
    font-size: 20px;
}

.header {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    line-height: 0.9;
    padding: 20px;
    align-items: center;

    @media screen and (min-width: 768px) {
        flex-direction: row;

    }
}



.header h1 {
    font-size: 60px;
    font-family: 'Caveat', cursive;
    background: hsl(var(--accent));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @media screen and (min-width: 768px) {
        font-size: 6vw;
    }

    @media screen and (min-width: 2800px) {

        font-size: 100px;

    }
}

.header .navigation {
    display: flex;
    gap: 10px;
    padding: 0;
    margin: 0;

    @media screen and (min-width: 768px) {
        position: absolute;
        top: 0;
        right: 20px;
        display: flex;
        gap: 20px;
        padding-top: 20px;

    }

    li a {
        color: hsl(var(--accent));

        text-decoration: none;

        &:hover {
            color: var(--_offWhite);

        }
    }
}